@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'CustomFontHearder';
  src: url('./assets/font/Vergilia-mL6aa.ttf') format('truetype');
}

body{
  background: #1a191f;
  color: #eee;
}

.bg-effect{
    position: absolute;
    max-width: 800px;
    width: 90%;
    height: 600px;
    border-radius: 50%;
    z-index: 0;
    filter: blur(200px);
    background: #93ff18;
    opacity: 60%;
}

.card-effect{
    border-radius: 50%;
    filter: blur(50px);
    background: #93ff18;
    opacity: 70%;
}

.banner-drop-shadow {
  filter: drop-shadow(0 5px 30px #93ff1879);
}
.my-font{
  font-family: 'CustomFontHearder', sans-serif;
}